@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Colours */
body{
    background-color: black;
    color: gray;
}

.bg-black {
    background-color: black;
}

a.navbar-brand.logo, a.nav-link {
    color: gray;
}

/* Typography */
.logo{
    font-family: "Montserrat", sans-serif;
}

main div h1.center{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

main div h2.center{
    font-size: 16px;
}

.subtitle{
    text-transform: uppercase;
    font-size: 16px;
}

/* Placing */

.center{
    text-align: center;
}

.introduction{
    margin-top: 30px;
    margin-bottom: 60px;
}

/* Navbar */
.logo {
    text-transform: uppercase;
    margin: 16px;
    padding: 10px;
    font-size: 30px;
}

.logo span{
    font-size: 15px;
    float: left;
    margin-left: 25%;
}

.navbar-collapse{
    margin-left: 70px;
}

.nav-item{
    margin: 20px;
}

/* Show artists */
.background-image{
    max-height: 500px;
}

.subtitle{
    margin-bottom: 30px;
}

.link{
    color: antiquewhite;
    text-decoration: none;
}

.link:hover, .link:active{
    color: white;
    font-weight: bold;
}

.img-panel{
height: 400px;
object-fit: cover;
}

/* Media Queries */
