@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Shadows+Into+Light&display=swap');

/* Colours */
body{
    background-color: black;
    color: gray;
}

.bg-black {
    background-color: black;
}

a.navbar-brand.logo, a.nav-link {
    color: gray;
}

/* Typography */
.logo{
    font-family: "Montserrat", sans-serif;
}

main div h1.center{
    font-size: 40px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

main div h2.center{
    font-size: 16px;
}

.subtitle{
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

h4.flash{
    font-family: "Shadows Into Light", cursive;
    font-size: 30px;
    text-align: center;
    color: #E8E8E8;
    margin-bottom: 60px;
}

.name-profile{
    font-family: "Shadows Into Light", cursive;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    color: #333333;
}

.text-profile{
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    color: #333333;
}

.text-form{
    font-family: "Shadows Into Light", cursive;
    color: black;
    font-size: 25px;
}

.confirm{
    margin-top: 30px;
}

/* Placing */

.center{
    text-align: center;
}

.introduction{
    margin-top: 30px;
    margin-bottom: 60px;
}

/* Navbar */
.logo {
    text-transform: uppercase;
    margin: 16px;
    padding: 10px;
    font-size: 30px;
}

.logo span{
    font-size: 15px;
    float: left;
    margin-left: 25%;
}

.navbar-collapse{
    margin-left: 70px;
}

.nav-item{
    margin: 20px;
}

/* Show artists */
.background-image{
    max-height: 500px;
}

.subtitle{
    margin-bottom: 30px;
}

.link{
    color: antiquewhite;
    text-decoration: none;
}

.link:hover, .link:active{
    color: white;
    font-weight: bold;
}

.img-panel{
height: 400px;
object-fit: cover;
}

/* Form panel and background */
.background-image{
  background-image: url("/static/images/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 50px;
  background-size: 500px 500px;
  height: 500px;
  padding: 0;
}

.sign-panel{
    height: 300px;
    background-color: #858282;
    margin-top: 30px;
    border: 2px solid black;
    border-radius: 25px;
}

legend{
    color: black;
    text-align: center;
    margin-top: 30px;
}

.form-input{
    border:none;
    border-bottom: 1px solid black;
    padding: 5px 30px;
    outline: none;
    background-color: gray;
    border-radius: 0px;
}

.form-input:hover{
    border-bottom: 2px solid #E8E8E8;
    cursor: pointer;
}

.form-input:focus, .form-input:active{
    /* Box shadow from https://css-tricks.com/almanac/properties/b/box-shadow/ */
    box-shadow: 0 8px 6px -6px black;
    background-color: #E8E8E8;
    border-radius: 25px;
}

span.input-group-text{
    background-color: gray;
    border: none;
}

.form-icon{
    font-size: 30px;
}


/* Code adapted from https://www.w3schools.com/howto/howto_css_placeholder.asp */
.form-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: black;
  opacity: 1; /* Firefox */
}

.form-input::-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: black;
}

.form-input::-ms-input-placeholder { /* Microsoft Edge */
  color: black
}

button, a.btn-form{
    margin-top: 30px;
    box-shadow: 0 8px 6px -6px black;
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
}

button.btn:hover, button.btn:focus, a.btn-form:hover, a.btn-form:focus{
    background-color: black;
}

p.link-form{
    margin-top: 30px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: gray;
    font-size: 10px;
}

p.link-form a{
    text-decoration: none;
    color: white;
}

p.link-form a:hover{
    font-weight: bold;
}

/* Profile */
.image-profile{
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: 5px;
}

.icon-profile{
    font-size: 20px;
    margin: 5px;
    color: #333333;
}

.icon-section{
    text-align: right;
    padding-right: 30px;
}

.information-section{
    padding-left: 30px;
}

address.text-profile{
    margin-bottom: 0;
}

.address-row{
    margin-top: 60px;
}

div.container.profile-container{
    background-color: #858282;
    border-radius: 25px;
}

.profile-pic{
    margin-left: 30px;
    margin-top: 30px;
    max-width: 300px;
}

.bio{
    margin-top: 60px;
    padding-right: 30px;
}

.icon-profile.link:hover{
    text-decoration: none;
}

img{
    box-shadow: 0 8px 6px -6px black;
}

button.btn-form, a.btn-form{
    margin-bottom: 30px;
}

button.btn-form:hover, a.btn-form:hover{
    color: #e1e1e1;
    box-shadow: 0 0 20px #e1e1e1;
    text-shadow: 0 0 15px #e1e1e1;
    border: 2px solid #e6e6e6;
}

form.add-profile input:hover, form.add-profile textarea:hover{
    color: #333333;
    box-shadow: 0 0 20px #e1e1e1;
    text-shadow: 0 0 15px #e1e1e1;
    border: 2px solid #e6e6e6;
}

/* Add Profile */
.add-profile{
    color: black;
    padding-top: 30px;
    font-family: "Shadows Into Light", cursive;
    font-size: 20px;
    letter-spacing: 1px;
}

form.add-profile input, textarea{
    border-radius: 25px;
    box-shadow: 0 8px 6px -6px black;
    letter-spacing: 1px;
}

form.add-profile label{
    color: #333333;
}

p.text-form.text-upload{
    padding-bottom: 30px;
    text-align: center;
}


/* Media Queries */
@media (max-width: 991px){
    .background-image{
        margin-right: 0;
    }
    form.col.col-md-6.offset-md-1.sign-panel{
        margin-left: 0;
    }
}

@media (max-width: 768px){
    .background-image{
        background-image: none;
        margin: auto;
        padding: 5px;
        width: 90%;
    }
    form.col.col-md-6.offset-md-1.sign-panel{
    margin: 0 auto;
    }
    .center-mobile{
        text-align: center;
    }
}
