{% extends "base.html" %}

{% block title %}
{{ username }}'s profile
{% endblock %}

{% block content %}
<div class="container">
<h4 class="flash">This is your profile, {{ username.capitalize() }}! Show the world how great you are</h4>
    <div class="container profile-container">
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-4 center scroll">
                <img src="{{ artist.profile_url }}" class="img-panel profile-pic" alt="{{ artist.artist_name }}'s profile picture'">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-8 information-section">
                <div class="row">
                    <div class="col-sm-12 col-md-6 name-profile center-mobile scroll">
                        {{ artist.artist_name }}
                    </div>
                    <div class="col-sm-12 col-md-6 icon-section center-mobile scroll">
                        <a href="tel:{{ artist.phone }}" class="link"><i class="fas fa-phone icon-profile "></i></a>
                        <a href="mailto:{{ artist.email }}" class="link"><i class="fas fa-at icon-profile "></i></a>
                        <a href="{{ artist.facebook }}" class="link" target="_blank" rel="noopener"><i class="fab fa-facebook icon-profile "></i></a>
                        <a href="{{ artist.instagram }}" class="link" target="_blank" rel="noopener"><i class="fab fa-instagram icon-profile "></i></a>
                    </div>
                </div>
                <div class="row address-row">
                    <div class="col-sm-12 center-mobile scroll">
                        <p class="text-profile">You can find me at:</p>
                        <address class="text-profile font-italic">{{ artist.address }}</address>
                        <p class="text-profile font-italic">{{ artist.city }}</p>
                        <p class="text-profile font-italic">{{ artist.country }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <p class="text-profile bio scroll"><strong>Bio:</strong> <br>{{ artist.bio }}</p>
                        <p class="text-profile scroll"><strong>Languages spoken:</strong> {{ artist.languages }}</p>
                        <p class="text-profile scroll"><strong>Tattoo styles:</strong> {{ artist.style }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-2 scroll">
                <img src="{{ artist.photo_1 }}" class="image-profile" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <img src="{{ artist.photo_2 }}" class="image-profile" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <img src="{{ artist.photo_3 }}" class="image-profile" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <img src="{{ artist.photo_4 }}" class="image-profile" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <img src="{{ artist.photo_5 }}" class="image-profile" alt="">
            </div>
            <div class="col-sm-12 col-md-6 col-lg-2">
                <img src="{{ artist.photo_6 }}" class="image-profile" alt="">
            </div>
        </div>
    </div>
	<div class="row">
    <div class="col-sm-12 center">
       <a href="{{ url_for('edit_profile', username=session['user']) }}" type="submit" class="btn btn-light btn-lg btn-form">Edit <i class="fas fa-pen-fancy"></i></a>
       <a href="{{ url_for('confirm_delete', username=session['user']) }}" type="submit" class="btn btn-light btn-lg btn-form">Delete <i class="fas fa-trash-alt"></i></a>
    </div>
    </div>
 
</div>
{% endblock %}